src/skel/basetypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://@PROJECTNAME@/schemas/basetypes"
        xmlns:tns="http://@PROJECTNAME@/schemas/basetypes" elementFormDefault="qualified">

        <complexType name="User">
                <annotation>
                        <documentation></documentation>
                </annotation>
                <attribute name="name" type="string" use="required" />
                <attribute name="surname" type="string" use="optional" />
        </complexType> 
</schema>
